body {
  background-color: #000000;
}

#main-container {
  background-image: linear-gradient(
    to bottom,
    rgba(128, 139, 150, 0.598),
    rgba(99, 99, 117, 0.16)
  );
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 0px;
  margin: auto;
  margin-top: 120px;
  border-radius: 10px;
  width: 65%;
  backdrop-filter: blur(10px);
  padding-bottom: 80px;
}

h1 {
  font-family: "Oi", cursive;
  font-weight: 10;
  font-size: 40px;
  color: rgb(255, 240, 243);
  text-align: center;
  margin: 0;
}
#profile {
  font-size: 50px;
  color: rgb(211, 81, 101);
  margin-top: -30px;
}
p {
  color: white;
}
#name {
  font-size: 40px;
  font-family: "Vollkorn SC", serif;
}
#email {
  font-family: "Vollkorn SC", serif;
  margin-top: -20px;
}

#buy {
  border-radius: 10px;
  margin-top: 40px;
  font-size: 20px;
  font-family: "Vollkorn SC", serif;
  grid-column: 1/3;
  background-color: rgba(255, 255, 255, 0.156);
  margin-left: 9%;
  margin-right: 9%;
  padding-bottom: 30px;
}

#img-buy {
  display: flex;
  justify-content: center;
}

#name-container {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 80px;
  border-radius: 10px;
  grid-row: 1/3;
  background-color: rgba(255, 255, 255, 0.156);
}

.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100px 100px 1fr;
}

#img-buy img {
  height: 130px;
  width: 100px;
  margin: 10px;
  border-radius: 10px;
}

#avatar-container {
  height: 175px;
  width: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 36%;
  margin-top: 10%;
  grid-row: 1/3;
}

img {
  height: auto;
  width: 200px;
}

#buy p {
  font-size: 30px;
}
